/*
Typography
======================================
*/
a[disabled] {
    cursor:not-allowed;

}
a[disabled]:hover{
    background:white !important;
}
a[disabled]:focus{
    background:white !important;
}

.icon-button {
	background-color: transparent;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
        top:7px;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}



/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}


.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}


.header-image{ 
  background: url(../images/header.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width:767px) {
    .navbar-nav.navbar-collapse {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}


.app-icons {
        display:none;
    }
    .app-icons-arrow-open {
        display:block;
    }    




h1 {
  text-align: center;
  font-size: 4em;
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: 2em;
  margin: 1.2em 0 0 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
transition: all 0.5s ease;
    color: #77b2c9;
	}
	
a:hover, a:focus {
    color: #25b8cc;
	text-decoration:none;
	}
.btn-default {
    transition: all 0.5s ease;
color: #77b2c9;
}

.btn-default:hover {
    color: #25b8cc;
}
.btn-primary{
    transition: all 0.5s ease;
   background-color: #77b2c9;;
   border-color: #77b2c9;
    
}

.btn-primary:hover{
   background-color: #25b8cc;
   border-color: #25b8cc;
    
}


img {
  display: block;
  margin: 0 auto;
  padding: 1em 0;
}

.username {

	display: initial;
}

.navbar-default .navbar-brand {
color: #000;}

.navbar-default .navbar-nav>li>a {
color: #000;}

.navbar-default .navbar-brand:hover {
color: #777;}

.navbar-default .navbar-nav>li>a:hover {
color: #777;}

.dropdown-menu{
	background-color:#77b2c9;
}

.dropdown-menu .divider{
background-color: rgba(180, 200, 230, 0.4);
height: 2px;
}

.dropdown-menu>li>a{
	color:#fff;

}

.dropdown-menu>li>a:hover{
color:#fff;
	background-color:rgba(255,255,255,0.3);

}

.headers-hr{
margin-top: 0px;
margin-bottom: 30px;

}
/*
Layout
======================================
*/

html, body {
  height: 100%;
}

.canvasjs-chart-credit{
    display:none;
}
.sidebar-menu-item.active{
    background-color:#286090;
}

.modal-dialog{
    left:3em;
    
}


.modal-new-exercise-name, .modal-new-workout-name, modal-new-program-name{
    display:inline;
position: absolute;

margin-top: 5px;
margin-left: 4px;  
    
}
.modal-new-exercise-name{
    width: 140px;
}
.modal-new-workout-name{
    width: 250px;
}
.modal-new-program-name{
    width: 250px;
}


.modal-new-checkbox{
    
    margin-top: 7px !important;
    
}
.modal-new-input{
   display:inline;
   width:30% ;
        float:right;
        padding:0 2px;
}

.modal-new-inputs{
   width: 75%;
   display:inline;
   float:right;
}

.modal-new-more-link{
    padding:0 20px;
    margin-top: 5px;
    
}
.modal-new-main{
    padding-bottom: 10px;
    margin-right: -25px;
    
}
.modal-new-more{
    display:none;
    padding-bottom: 10px;
    margin-right: -25px;
}

.pagination{
    padding-left:20px
    
}

.modal-new-nav{
    width: 70%;
    margin: 0 auto;
    
    
}

.footer{
background-color: transparent;
margin-top:100px;
height:25px;
padding-bottom:0px;
text-align:center;
bottom: 0px;
}

.view-added{
width: 90%;
margin: auto;

}

.view-added .form-control{
	width:110%;

}


.view-log{
width: 90%;
margin: auto;
margin-left:10%;
padding-bottom:20px;


}

.view-exercise-settings{
width: 90%;
margin: auto;
margin-left:10%;


}

.topset{
    position:absolute;
    width:100%;
    
}
.btn-circle-main {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.9;
  border-radius: 30px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.41;
  border-radius: 15px;
}

.records{
	padding-left:15px;
	padding-right:15px;

}

.wrap {
  position: relative;

}
.col-xs-1{

	text-align: center;
}

.col-md-12{

	text-align: center;
}
.col-xs-3{
line-height: 40px;
}

.col-xs-6.headers{
width:20%;
line-height: 40px;

}


.headers{
	font-size:16px;
vertical-align: bottom;
	
}

.headers .exercise{
	font-size:24px;
}
.exercise{
	font-weight:bold;
	width:20%;
        padding: 0px;
        padding-left: 15px;
	line-height: 40px;
        font-size: 16px;
}



.details{
	width:13%;
	line-height: 40px;
}

.details.add{
	width:15%;

}





/*
Masthead
======================================
*/
.menu-link a{
	text-decoration:none;

}
.menu-link {
  font-size: 1.5em;
}

.menu-link:link,
.menu-link:visited {
  color: #fff;
  background: rgba(0, 0, 0, .4);
  border-radius: 4px;
  padding: .2em .4em;
  text-decoration:none;
}

.menu-link:hover,
.menu-link:active {
  color: #25B89A;
  background: rgba(0, 0, 0, .6);
  text-decoration:none;
}


/*
Nav Panel
======================================
*/
.navbar-default {
background-color:rgba(255,255,255,0.7);
border-radius:0px;
border-color: transparent;
}


.panel {

	-webkit-box-shadow: 0 0px 80px rgba(0,0,0,.175);
	box-shadow: 0 0px 80px rgba(0,0,0,.175);
  background: #77b2c9;
  z-index: 9999;
  position: fixed;
  left: -15.625em; /*or width of your navigation panel*/
  width: 15.625em; /*should match the above value*/
  border-radius:0px;
}

.panel ul {
  /*border-top: 2px solid rgba(180, 200, 230, 0.4);*/
}

.panel a {
  display: block;
  border-bottom: 2px solid rgba(180, 200, 230, 0.4);
  padding: 1em;
}

.panel a:link,
.panel a:visited {
  color: #fff;
}

.panel a:hover,
.panel a:active {
  background: rgba(255,255,255,0.5);
}

.nav-icon {
  margin-right: 6px;
}


/*
Helper Classes
-----------------------------------
*/

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes wobble { 
  0% { -webkit-transform: translateX(0%); } 
  15% { -webkit-transform: translateX(-25%) rotate(-5deg); } 
  30% { -webkit-transform: translateX(20%) rotate(3deg); } 
  45% { -webkit-transform: translateX(-15%) rotate(-3deg); } 
  60% { -webkit-transform: translateX(10%) rotate(2deg); } 
  75% { -webkit-transform: translateX(-5%) rotate(-1deg); } 
  100% { -webkit-transform: translateX(0%); } 
} 
@keyframes wobble { 
  0% { transform: translateX(0%); } 
  15% { transform: translateX(-25%) rotate(-5deg); } 
  30% { transform: translateX(20%) rotate(3deg); } 
  45% { transform: translateX(-15%) rotate(-3deg); } 
  60% { transform: translateX(10%) rotate(2deg); } 
  75% { transform: translateX(-5%) rotate(-1deg); } 
  100% { transform: translateX(0%); } 
} 
.wobble { 
    -webkit-animation-name: wobble; 
    animation-name: wobble; 
}

.tooltip-inner {
    min-width:100px;

    max-width: 500px !important;
}

.exercise .tooltip{
    left:0px !important;
}

.details.set .tooltip,.details.rpe .tooltip,.details.percentage .tooltip{
    width:300px;
}

a.fa-arrow-circle-left:hover{
    color:#25b8cc;
}